<ngb-tabset>  
  <ngb-tab>
      <ng-template ngbTabTitle><a routerLink="/home">Home</a></ng-template>
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><a routerLink="/about">About</a></ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><a routerLink="/gallery">Gallery</a></ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle><a routerLink="/contact">Contact</a></ng-template>
    <ng-template ngbTabContent>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
      <ng-template ngbTabTitle><a routerLink="/movies">Movies</a></ng-template>
      <ng-template ngbTabContent>
      </ng-template>
    </ngb-tab>
</ngb-tabset>
<router-outlet></router-outlet>
