<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Angular">
    <ng-template ngbPanelContent>
      Angular is a platform that makes it easy to build applications with the web.
      Angular combines declarative templates, dependency injection, end to end tooling,
      and integrated best practices to solve development challenges.
      Angular empowers developers to build applications that live on the web,
      mobile, or the desktop.
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Bootstrap">
      <ng-template ngbPanelContent>
        Bootstrap is the world’s most popular framework for building responsive,
         mobile-first sites and applications. Inside you’ll find high quality HTML, 
         CSS, and JavaScript to make starting any project easier than ever.
      </ng-template>
    </ngb-panel>
</ngb-accordion>
